body {
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.panel {
    width: 90vw;
    height: 90vh;
    background-color: aliceblue;

}