grant {
permission java.awt.AWTPermission "createRobot";
permission java.awt.AWTPermission "readDisplayPixels";
permission java.io.FilePermission "<<ALL FILES>>", "read, write, delete";
 
};
