
@font-face {
  font-family: activityfont;
  src: url(AvenirNext-Bold.ttf);
}

@font-face {
  font-family: activityfontbold;
  src: url(AvenirNext-Bold.ttf);
}


.mobile-phone .authenticated-page.authenticated.mobile-community.mobile-document .notification .notification-dialog.content-frame
{
    -webkit-text-size-adjust: 100%;
}
input:focus, textarea:focus,input{
    outline: none;
		font-family:activityfontbold !important;
    color: black;
    background: transparent;
    border: 0px;
}

input:focus, textarea:focus, select:focus{
        outline: none;
        color: black;
        background: transparent;
        border: 0px;
    }

/* Non-Retina  pc */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
	select{
		padding-top: 0.1em;
		-webkit-appearance: none;
    -moz-appearance: none;
    background: none;
	}

  select,input{
    /*font-size: 1.95vw;*/
    border: 0px;
    color: black;
    background: transparent;
    font-family: activityfont;
    text-align: center !important;
  }
  select:focus{
          outline: none;
          background: transparent;
          /*font-size: 1.95vw;*/
          border: 0px;
          color: black;
          font-family: activityfont;
          text-align: center !important;

      }

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
select{
	padding-top: 0.2em;
  color: #333333;
  background: none;
  color: black;
}
  select,input{
    -webkit-text-size-adjust: auto;
    /*font-size: 2.6em;*/
    border: 0px;
    color: black;
    background: transparent;
    font-family: activityfont;
    text-align: center !important;

        background: none;
  }
 select:focus{
   -webkit-text-size-adjust: auto;
          outline: none;
          color: black;
          background: transparent;
          /*font-size:  1.7em;*/
          border: 0px;
          font-family: activityfont;
          text-align: center !important;

        background: none;
      }
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
	select{
    -webkit-appearance: menulist;
	padding-top: 0.2em;
    color: black;

        background: none;
}

  select,input{
    -webkit-text-size-adjust: auto;
  /*  font-size: 2.6em;*/
    background: transparent;
    border: 0px;
    color: black;
    font-family: activityfont;
    text-align: center !important;
    background: none;
  }
 select:focus{
   -webkit-text-size-adjust: auto;
          outline: none;
          background: transparent;
        /*  font-size:  1.7em;*/
          border: 0px;
          color: black;
  font-family: activityfont;
  text-align: center !important;
        background: none;
      }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
select{
  -webkit-appearance: menulist;
	padding-top: 0.2em;
    color: black;
    background: none;
}
  select,input{
    -webkit-text-size-adjust: auto;
  /*  font-size: 3em;*/
    background: transparent;
    border: 0px;
  font-family: activityfont;
  text-align: center !important;
  color: black;
        background: none;

  }
    select:focus{
      -webkit-text-size-adjust: auto;
	  /* font-size:  3em;*/
    background: transparent;
    border: 0px;
  font-family: activityfont;
  text-align: center !important;
  color: black;

        background: none;
      }
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
select{
  -webkit-appearance: menulist;
	padding-top: 0.2em;
color: black;
        background: none;
}
  select{
    -webkit-text-size-adjust: auto;
  /*  font-size: 6em;*/
    background: transparent;
    border: 0px;
    color: black;
  font-family: activityfont;
  text-align: center !important;
        background: none;
  }
  input{
    -webkit-text-size-adjust: auto;
    /*font-size: 3em;*/
    color: black;
    background: transparent;
    border: 0px;
  font-family: activityfont;
  text-align: center !important;
  color: #333333;
        background: none;
  }
  select:focus{
    -webkit-text-size-adjust: auto;
          outline: none;
          color: black;
          background: transparent;
           /*font-size:  6em;*/
          border: 0px;
        font-family: activityfont;
        text-align: center !important;
        background: none;
      }
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
select{
  -webkit-appearance: menulist;
	padding-top: 0.2em;
    color: black;

        background: none;
}
  select{
    -webkit-text-size-adjust: auto;
    /*font-size: 6em;*/
    background: transparent;
    border: 0px;
    font-family: activityfont;
    color: black;
    text-align: center !important;

        background: none;
  }
  input{
    -webkit-text-size-adjust: auto;
    /*font-size: 3em;*/
    background: transparent;
    border: 0px;
    color: black;
    font-family: activityfont;
    text-align: center !important;

        background: none;
  }
  select:focus{
    -webkit-text-size-adjust: auto;
          outline: none;
          background: transparent;
       /*font-size:  6em;*/
          border: 0px;
          color: black;
          font-family: activityfont;
          text-align: center !important;

        background: none;
      }
}


/*  tab Portrait */
@media screen and (max-device-width: 800px) and (orientation: portrait) {
    select{
    	padding-top: 0.2em;
        color: black;
    }
      input{
        -webkit-text-size-adjust: auto;
        /*font-size: 2.0em;*/
        /*font-size: 2.0em;*/
        /*color: red;*/
        background: transparent;
        border: 0px;
        color: black;
        font-family: activityfont;
        text-align: center !important;

        background: none;
      }
      select{
        -webkit-text-size-adjust: auto;
        /*font-size: 2.0em;*/
      /*  font-size: 1.5em;*/
        /*color: green;*/
        background: transparent;
        border: 0px;
        color: black;
        font-family: activityfont;
        text-align: center !important;

        background: none;
      }
      select:focus{
        -webkit-text-size-adjust: auto;
              outline: none;
              background: transparent;
           /*font-size:  1.7em;*/
              border: 0px;
              color: black;
              font-family: activityfont;
              text-align: center !important;

        background: none;
          }
}

/*  tab Landscape */
@media screen and (max-device-width: 1280px) and (orientation: landscape) {
    select{
    	/*padding-top: 0.2em;*/
        color:black;

        background: none;
    }
      select{
        -webkit-text-size-adjust: auto;
        /*font-size: 2.0em;*/
        /*font-size: 1.5em;*/
        color: black;
        background: transparent;
        /*color: blue;*/
        border: 0px;
        font-family: activityfont;
        text-align: center !important;

        background: none;
      }
      input{
        -webkit-text-size-adjust: auto;
        /*font-size: 2.0em;*/
      /*  font-size: 1.5em;*/
        background: transparent;
      /*  color: yellow;*/
      color: black;
        border: 0px;
        font-family: activityfont;
        text-align: center !important;

        background: none;
      }
      select:focus{
        -webkit-text-size-adjust: auto;
              outline: none;
              background: transparent;
          /* font-size:  1.7em;*/
              border: 0px;
              color: black;
              font-family: activityfont;
              text-align: center !important;

        background: none;
          }
}



#playbtn{
background-image: url(../images/playico.png);
background-color: transparent;
border: 0px;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;;
   background-size: 100% auto;
}
