<?xml version="1.0" encoding="utf-8"?>
<Module>
<ModulePrefs
title="springRLC"
author="Fu-Kwun Hwang - Dept. of Physics, National Taiwan Normal Univ.; Fremont Teng; Loo Kang Wee"
description=""
screenshot="./springRLC/Screen Shot 2018-04-02 at 5.07.16 PM (2).png"
thumbnail="./springRLC/Screen Shot 2018-04-02 at 5.07.16 PM (2).png">
<Require feature="opensocial-0.9"/>
<Require feature="dynamic-height"/>
</ModulePrefs>
<Content type="html" href="springRLC_Simulation.xhtml"/>
</Module>
