:root {
    --primary-blue: #578FFE;
    --primary-pink: #FF0082;
    --cotton-candy: #F7CFE5;
    --apricot: #F9E6E0;
    --blush: #EEB4A3;
    --orange: #F47D61;
    --md-yellow: #FFD208;
    --lg-yellow: #FDFAF1;
    --white: #FFFFFF;
}


@font-face {
    font-family: "Dosis";
    src: url("../fonts/Dosis-Regular.woff2");
}

@font-face {
    font-family: "Dosis-Bold";
    src: url("../fonts/Dosis-Bold.woff2");
}

@font-face {
    font-family: "Dosis-SemiBold";
    src: url("../fonts/Dosis-SemiBold.woff2");
}

/* utility classes */
.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-visible {
    visibility: visible !important;
}

.d-hidden {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}

.add-overlay {
    opacity: .56 !important;
}

body {
    margin: 0 !important;
    background-color: white !important;
}

#_topFrame {
    container-type: inline-size !important;
    /* Vertically centers the game content */
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/* this will make the nodes not look squished on mobile (potrait and landscape) */
#targetObjects>image {
    height: 50px;
    width: 50px;
}

@container (width > 600px) {
    #targetObjects>image {
        height: 100px;
        width: 100px;
    }
}

#overlay {
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
}

#spinner {
    z-index: 3;
}

.spinner::after {
    content: '';
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
}

.spinner.smooth::after {
    border-top: 4px solid rgba(255, 0, 130, 1.0);
    border-left: 4px solid rgba(255, 0, 130, 1.0);
    border-right: 4px solid rgba(255, 255, 255, 0.0);
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#objectImage {
    width: 67px;
    height: 96px;
}

#metadata {
    display: none;
}

html {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/* background to fill screen for all pages */
#wrappedPanel,
#plottingPanel {
    height: 100%;
}

#background {
    height: 104%;
}

#splashScreen>svg,
#gameIntroduction>svg,
#gameplayInstructions>svg {
    height: 75vh;
    width: 80vw;
    max-width: 591px;
}

#gameEnd>svg {
    height: 65vh;
    width: 80vw;
    max-width: 591px;
}

.question {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%);
    max-width: 368px;
    width: 85vw;
    z-index: 1;
    font-family: 'Dosis-SemiBold';
    font-size: 2.1vw;
    letter-spacing: 1px;
}

.questionText {
    border: 2px solid #CAC5FF;
    border-radius: 3rem;
    padding: 10px !important;
    font-size: min(5vw, 16px);
    font-family: 'Dosis';
    background: #1C1338;
    box-shadow: 5px 5px 1px #FF0082;
    color: white;
    margin-top: 9px !important;
}

.answerOptions {
    display: grid;
    margin-top: 9% !important;
    gap: 10%;
}

.optionA,
.optionB,
.optionC {
    position: relative;
    border: 2px solid #CAC5FF;
    border-radius: 3rem;
    padding: 0.7rem !important;
    background: #1C1338;
    box-shadow: 5px 5px 1px #FF0082;
    color: white;
    margin: 0 !important;
    transition: all 0.1s linear 0s;
    font-size: min(3.8vw, 12px);
    font-family: 'Dosis';
}

#optionA5,
#optionB5,
#optionC5 {
    font-size: min(2.8vw, 12px);
}

@container (width > 768px) {

    .question {
        top: 13%;
        max-width: 768px;
        font-size: 5.1vw;
    }

    .questionText {
        font-size: min(5vw, 30px);
        padding: 40px !important;
        border-radius: 65px;
        box-shadow: 7px 7px 1px #FF0082;
    }

    .answerOptions {
        gap: 15%;
    }

    .optionA,
    .optionB,
    .optionC {

        font-size: min(3.8vw, 25px);

    }

    #optionA5,
    #optionB5,
    #optionC5 {
        font-size: min(4.8vw, 19px);
        padding: 10px 76px 10px 10px !important;
        align-items: center;
    }

    #optionA5 {
        gap: 5px;
    }
}


.optionA:hover,
.optionB:hover,
.optionC:hover {
    background: #CAC5FF;
    color: #1C1338;
}

.optionA>img,
.optionB>img,
.optionC>img {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    height: min(38px, 6vh);
}

.display-correct-option {
    background: rgba(202, 197, 255, 1) !important;
    color: #1C1338 !important;
}

.display-incorrect-option {
    background: rgba(202, 197, 255, 0.5) !important;
    color: #1C1338 !important;
}


#wrappedPanel {
    position: relative;
}

/* progress bar start */
#progressBarContainer {
    border: 2.5px solid #CAC5FF;
    border-radius: 3rem;
    box-shadow: 3px 3px 1px #FF0082;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    max-width: 1600px;
}

#progressBar {
    background: #1C1338;
    display: flex;
    position: relative;
    left: 0px;
    height: 4vh;
    border-radius: 3rem;
    width: 85vw;
    max-width: 1600px;
}

#progressLevel {
    height: 100%;
    border-radius: 3rem;
    transition: all 0.1s linear 0s;
    margin-bottom: 40px;
    background: #CAC5FF;
    position: absolute;
    border: 1px solid #CAC5FF;
    left: -1px;
    top: -1px;
}

.divider {
    width: 25%;
    position: relative;
}

.divider>img {
    position: absolute;
    top: -4px;
    right: -0.7rem;
    height: 4.75vh;
}

.emptybar {
    border: 0 !important;
}

.fullbar {
    border-radius: 3rem !important;
}

#percentage {
    display: flex;
    margin-left: 0%;
    transition: all 0.1s linear 0s;
}

/* progress bar end */

#remainingLaserNodes {
    position: absolute;
    top: 5%;
    right: 7%;
    border: 1.5px solid #CAC5FF;
    width: 4.8rem;
    border-radius: 0 1rem 0 1rem;
    box-shadow: 2.5px 2.5px 1px red;
    background-color: #1C1338;
    justify-content: center;
    height: 30px;
    align-items: center;
    gap: 14px;
}

#remainingLaserNodes>svg {
    margin-top: 11px;
}

@container (width > 600px) {
    #remainingLaserNodes {
        width: 8rem;
        height: 48px;
        border: 3px solid #CAC5FF;
        right: 4%;
        box-shadow: 3.5px 3.5px 1px red;
    }

    #number-of-remaining-nodes {
        font-size: 25px;
    }

    #remainingLaserNodes>svg {
        width: 15px;
        height: 42px;
    }
}

#number-of-remaining-nodes {
    color: white;
    font-family: 'Dosis-Bold';
}

#outOfLaserNodes1,
#outOfLaserNodes2,
#outOfLaserNodes3,
#outOfLaserNodes4,
#outOfLaserNodes5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#outOfLaserNodes1>svg,
#outOfLaserNodes2>svg,
#outOfLaserNodes3>svg,
#outOfLaserNodes4>svg,
#outOfLaserNodes5>svg {
    max-width: 580px;
    height: 75vh;
    width: 70vw;
}

#stageInstructions {
    visibility: hidden;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: .6s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    font-family: 'Dosis', sans-serif;
    font-size: 2.5vw;
    color: white;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#soundControl_Mute,
#soundControl_Play {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    width: 1.7rem;
    height: 1.7rem;
}

#soundControl_Mute>svg,
#soundControl_Play>svg {
    width: 100%;
    height: 100%;
}

.draggable-element {
    position: absolute;
    color: white;
    padding: 10px;
    cursor: grab;
    bottom: 0;
    background-image: url('../images/robot_hand_desktop.svg');
    /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    height: 175px;
    width: 100px;
}

.dragging {
    cursor: grabbing;
}

/************ Styling for game screens that span the entire viewport and larger than SLS embedded window frame ************/
@container (width > 600px) {

    #soundControl_Mute,
    #soundControl_Play {
        width: 3rem;
        height: 3rem;
    }
}

/* hide unnecessary items */
#plottingPanel__coor__ {
    display: none !important;
}

/* Styles for the slide container */
.slide-container {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: -100%;
    /* Start the element off the screen */
    height: 75px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5B5B5B;
    width: 85%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: bottom 1s;
    border-top: 2px solid #ADADAD;
    border-left: 2px solid #ADADAD;
    border-right: 2px solid #ADADAD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



/* For tablets: */
@media only screen and (min-width: 600px) {
    .slide-container {
        /* Start the element off the screen */
        height: 110px;
    }
}

@container sidebar (width > 10px) and (height > 10px) {
    .slide-container {
        height: 110px;
    }
}

/* Styles for the slide content */
.slide-content {
    padding: 2.5vh 2.5vh 0 5vh;
    text-align: center;
    font-family: 'Dosis';
    font-size: 3.5vw;
}

.slide-content p {
    padding-right: 40px;
}

/* Styles for the close button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    height: 19px;
    display: flex;
    justify-content: flex-end;
}

.close>svg {
    width: 20px;
    height: 100%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
