body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
}

#controls {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#numElectrons {
    width: 50%;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: calc(100% - 200px); /* Adjust for control and story height */
    flex-grow: 1;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none; /* Prevent default touch actions */
}

#model-text {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    color: yellow;
    font-size: 24px;
    font-weight: bold;
}

#story {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#author {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
