html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#checkbox{
    position: absolute;
    top: 5%;
    left: 92%;
}

#cb{
    position: absolute;
    top: 5%;
    left: 93%;
}

#structure{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    text-emphasis: bold;
}


.molec1{
    position: absolute; 
    bottom: 20%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(224, 161, 43);
    color: antiquewhite;
    cursor:  pointer;
}
.molec1:hover{
    background-color: limegreen;
}

.molec2{
    position: absolute; 
    bottom: 20%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: pink;
    color: antiquewhite;
    cursor:  pointer;
}
.molec2:hover{
    background-color: limegreen;
}

.molec3{
    position: absolute; 
    bottom: 15%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(231, 161, 173);
    color: antiquewhite;
    cursor:  pointer;
}
.molec3:hover{
    background-color: limegreen;
}

.molec4{
    position: absolute; 
    bottom: 15%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(113, 184, 212);
    color: antiquewhite;
    cursor:  pointer;
}
.molec4:hover{
    background-color: limegreen;
}

.molec5{
    position: absolute; 
    bottom: 10%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(166, 238, 144);
    color: antiquewhite;
    cursor:  pointer;
}
.molec5:hover{
    background-color: limegreen;
}
.molec6{
    position: absolute; 
    bottom: 10%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(89, 201, 136);
    color: antiquewhite;
    cursor:  pointer;
}
.molec6:hover{
    background-color: limegreen;
}
.molec7{
    position: absolute; 
    bottom: 10%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: rgb(64, 163, 106);
    color: antiquewhite;
    cursor:  pointer;
}
.molec7:hover{
    background-color: limegreen;
}
.molec8{
    position: absolute; 
    bottom: 5%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: blue;
    color: antiquewhite;
    cursor:  pointer;
}
.molec8:hover{
    background-color: limegreen;
}
.molec9{
    position: absolute; 
    bottom: 5%; 
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
    height: 4%;
    width: 9%;
    margin: 10px;
    background-color: gold;
    color: antiquewhite;
    cursor:  pointer;
}
.molec9:hover{
    background-color: limegreen;
}