<?xml version="1.0" encoding="utf-8"?>
<Module>
<ModulePrefs
title="Spring_Forces_V2"
author="Wei Chiong Tan; Francisco Esquembre; Felix J. Garcia Clemente; Loo Kang WEE"
description=""
screenshot="./Spring_Forces/Screenshot 2021-07-27 at 9.16.58 PM (2).png"
thumbnail="./Spring_Forces/Screenshot 2021-07-27 at 9.16.58 PM (2).png">
<Require feature="opensocial-0.9"/>
<Require feature="dynamic-height"/>
</ModulePrefs>
<Content type="html" href="Spring_Forces_V2_Simulation.xhtml"/>
</Module>
