.irHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.headingfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: left;
}

.bodyfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	letter-spacing: 0.5px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	background-image: url(images/top.jpg);
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-color: #A5CDFE;
}
hr {
	color:#51802B;
	border: none 0; 
	border-top: 0px #51802B;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
} 
