<?xml version="1.0" encoding="utf-8"?>
<Module>
<ModulePrefs
title="springsetsupdown"
author="Fu-Kwun Hwang - Dept. of Physics,National Taiwan normal Univ, modified by Ahmedelshfie.; Fremont Teng; Loo Kang Wee"
description=""
screenshot="./springsetsupdown/Screen Shot 2018-05-21 at 10.44.35 AM (2).png"
thumbnail="./springsetsupdown/Screen Shot 2018-05-21 at 10.44.35 AM (2).png">
<Require feature="opensocial-0.9"/>
<Require feature="dynamic-height"/>
</ModulePrefs>
<Content type="html" href="springsetsupdown_Simulation.xhtml"/>
</Module>
